$azul-claro: #30c9eb;
$azul-oscuro: #3b6874;
$azul-fondos: #16272b;
$blanco: #ffffff;
$color-contraste: #af2d72;
$color-verde: #dee48d;

$Muli: "Muli",
sans-serif;
$ProximaSoft: "ProximaSoft",
sans-serif;

$font-negra: #252525;
$transition: all 0.3s ease-in-out;

//colores selector

$color_white: #fff;
$color_prime: #5ad67d;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;
$option: #320a28;

// MQ trigger
@mixin small {
	@media only screen and (max-width: 766px) {
		@content;
	}
}

*::-moz-selection {
	background: #d2d2d2;

	color: #f55b99;
}

*::selection {
	background: #d2d2d2;
	transition: $transition;
	color: $color-contraste;
}

*::-webkit-scrollbar {
	z-index: 10;
	transition: $transition;
	width: 10px;
}

*::-webkit-scrollbar-thumb {
	background: #d2d2d2;
	z-index: 10;
	background-color: $color-contraste;
	transition: $transition;
}

*::-webkit-scrollbar-thumb:hover {
	background: #d2d2d2;
	z-index: 10;
	background-color: rgba($color: $color-contraste, $alpha: 0.8);
}

// colores
$color: #8f8f8f;
$color2: #e8f380;

@font-face {
	font-family: "ProximaSoft";
	src: url(./../assets/fonts/ProximaSoft-LightIt.ttf);
}

@font-face {
	font-family: "Muli";
	src: url(./../assets/fonts/Muli-Light.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body,
html {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

// link bonito
a {
	text-decoration: none;
	color: $font-negra;
	font-family: $Muli;
}

.cta {
	position: relative;
	padding: 19px;
	transition: all 0.2s ease;
}

.cta:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	border-radius: 6px;
	background: $color-contraste;
	margin-top: 12px;
	width: 35px;
	height: 34px;
	transition: all 0.3s ease;
}

.cta span {
	position: relative;
	font-size: 16px;
	line-height: 18px;
}

.cta svg {
	position: relative;
	top: 0;
	margin-left: 10px;
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke: #111;
	stroke-width: 2;
	transform: translateX(-5px);
	transition: all 0.3s ease;
}

.cta:hover {
	color: white;

	svg {
		stroke: white;
	}
}

.cta:hover:before {
	width: 100%;
	background: rgba($color: $color-contraste, $alpha: 0.6);
}

.cta:hover svg {
	transform: translateX(0);
}

.cta:active {
	transform: scale(0.96);
}

//segundo cta

.ctaa {
	position: relative;
	padding: 19px;
	transition: all 0.2s ease;
}

.ctaa:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	border-radius: 6px;
	background: $color-contraste;
	margin-top: 12px;
	width: 35px;
	height: 34px;
	transition: all 0.3s ease;
}

.ctaa span {
	position: relative;
	font-size: 16px;
	line-height: 18px;
}

.ctaa svg {
	position: relative;
	top: 0;
	margin-left: 10px;
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke: #111;
	stroke-width: 2;
	transform: translateX(-5px);
	transition: all 0.3s ease;
}

.ctaa:hover {
	color: white;

	svg {
		stroke: white;
	}
}

.ctaa:hover:before {
	width: 100%;
	background: rgba($color: $color-contraste, $alpha: 0.6);
}

.ctaa:hover svg {
	transform: translateX(0);
}

.ctaa:active {
	transform: scale(0.96);
}

// Navigation
.main_h {
	position: fixed;
	max-height: 60px;
	z-index: 999;
	width: 100%;
	padding-top: 17px;
	background: none;
	overflow: hidden;
	-webkit-transition: $transition;
	transition: $transition;
	opacity: 0;
	top: -100px;
	padding-bottom: 6px;
	font-family: $Muli;

	.row {
		.logooo {
			img {
				width: 100px;
			}
		}
	}

	@include small {
		padding-top: 25px;
	}
}

.open-nav {
	max-height: 400px !important;

	.mobile-toggle {
		transform: rotate(-90deg);
		-webkit-transform: rotate(-90deg);
	}
}

.sticky {
	background-color: #fff;
	opacity: 1;
	top: 0px;
	border-bottom: 1px solid lighten($color, 30%);
}

.logo {
	width: 50px;
	font-size: 25px;
	color: $color;
	text-transform: uppercase;
	float: left;
	display: block;
	margin-top: 0;
	line-height: 1;
	margin-bottom: 10px;

	@include small {
		float: none;
	}
}

nav {
	float: right;
	width: 60%;

	@include small {
		width: 100%;
	}

	ul {
		list-style: none;
		overflow: hidden;
		text-align: right;
		float: right;

		@include small {
			padding-top: 10px;
			margin-bottom: 22px;
			float: left;
			text-align: center;
			width: 100%;
		}

		li {
			display: inline-block;
			margin-left: 35px;
			line-height: 1.5;

			@include small {
				width: 100%;
				padding: 7px 0;
				margin: 0;
			}
		}

		a {
			color: #888888;
			text-transform: uppercase;
			font-size: 12px;
			text-decoration: none;
			transition: $transition;

			&:hover {
				font-weight: bold;
			}
		}
	}
}

.mobile-toggle {
	display: none;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	right: 22px;
	top: 0;
	width: 30px;
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in;

	@include small {
		display: block;
	}

	span {
		width: 30px;
		height: 4px;
		margin-bottom: 6px;
		border-radius: 1000px;
		background: $color;
		display: block;
	}
}

.row {
	width: 100%;
	max-width: 940px;
	margin: 0 auto;
	position: relative;
	padding: 0 2%;
}

.nav {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	.logo {
		img {
			width: 220px;
			height: 60px;
			margin-right: 20px;
		}
	}

	ul {
		font-family: $Muli;
		list-style: none;
		display: flex;
		gap: 2px;

		li {
			a {
				color: $blanco;
				text-decoration: none;
				font-size: 16px;
				font-weight: bold;
				padding: 10px;
				transition: all 0.3s;
			}
		}
	}
}

.one {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 350px;
	justify-content: center;
	align-items: flex-end;
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url(./../assets/images/bck5.jpg) no-repeat center center fixed;
	background-size: cover;
	background-position: top top;
	padding: 10px;

	.niu {
		width: calc(100% / 2);

		h1 {
			max-width: 700px;
			color: $blanco;
			font-family: $ProximaSoft;
			font-size: 40px;

			display: flex;
			align-items: flex-end;
			justify-content: center;
			flex-direction: column;

			&::after {
				content: "";
				width: 150px;
				margin-top: 5px;
				height: 4px;
				background-color: $color-contraste;
				display: block;
				margin-right: 10px;
			}
		}

		p {
			min-width: 400px;
			color: $blanco;
			font-size: 20px;
			margin: 30px 0;
			font-family: $Muli;
		}

		.btns {
			display: flex;
			gap: 10px;
			font-size: 16px;

			button {
				padding: 15px;
				border: none;
				border-radius: 6px;
				font-family: $Muli;
				font-weight: 600;
			}

			.a {
				background-color: $color-contraste;
				color: $blanco;
				transition: $transition;

				&:hover {
					background-color: #ffffff;
					color: $font-negra;
				}
			}

			.b {
				background-color: $color-verde;
				color: $font-negra;
				transition: $transition;

				&:hover {
					background-color: #ffffff;
					color: $font-negra;
				}
			}
		}
	}
}

.three {
	.blog-card {
		display: flex;
		flex-direction: column;
		margin: 1rem auto;
		box-shadow: 0 3px 7px -1px rgba(#000, 0.1);
		margin-bottom: 1.6%;
		background: $color_white;
		line-height: 1.4;
		font-family: sans-serif;
		border-radius: 5px;
		overflow: hidden;
		z-index: 0;

		a {
			color: inherit;

			&:hover {
				color: $color_prime;
			}
		}

		&:hover {
			.photo {
				transform: scale(1.3) rotate(3deg);
			}
		}

		.meta {
			position: relative;
			z-index: 0;
			height: 200px;
		}

		.photo {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-size: cover;
			background-position: center;
			transition: transform 0.2s;
		}

		.details,
		.details ul {
			margin: auto;
			padding: 0;
			list-style: none;
		}

		.details {
			position: absolute;
			top: 0;
			bottom: 0;
			left: -100%;
			margin: auto;
			transition: left 0.2s;
			background: rgba(#000, 0.6);
			color: $color_white;
			padding: 10px;
			width: 100%;
			font-size: 0.9rem;

			a {
				text-decoration: dotted underline;
			}

			ul li {
				display: inline-block;
			}

			.author:before {
				font-family: FontAwesome;
				margin-right: 10px;
				content: "\f007";
			}

			.date:before {
				font-family: FontAwesome;
				margin-right: 10px;
				content: "\f133";
			}

			.tags {
				ul:before {
					font-family: FontAwesome;
					content: "\f02b";
					margin-right: 10px;
				}

				li {
					margin-right: 2px;

					&:first-child {
						margin-left: -4px;
					}
				}
			}
		}

		.description {
			padding: 1rem;
			background: $color_white;
			position: relative;
			z-index: 1;

			h1,
			h2 {
				font-family: $ProximaSoft;
			}

			h1 {
				font-weight: bold;
				line-height: 1;
				margin: 0;
				font-size: 1.7rem;
			}

			h2 {
				font-size: 1rem;
				font-weight: 300;
				text-transform: uppercase;
				color: $color_grey_dark;
				margin-top: 5px;
			}

			.read-more {
				text-align: right;

				a {
					color: $color-contraste;
					display: inline-block;
					position: relative;

					&:after {
						content: "\f061";
						font-family: FontAwesome;
						margin-left: -10px;
						opacity: 0;
						vertical-align: middle;
						transition: margin 0.3s, opacity 0.3s;
					}

					&:hover {
						font-weight: bold;
					}

					&:hover:after {
						margin-left: 5px;
						opacity: 1;
					}
				}
			}
		}

		p {
			position: relative;
			margin: 1rem 0 0;

			&:first-of-type {
				margin-top: 1.25rem;

				&:before {
					content: "";
					position: absolute;
					height: 5px;
					background: $color-contraste;
					width: 35px;
					top: -0.75rem;
					border-radius: 3px;
				}
			}
		}

		&:hover {
			.details {
				left: 0%;
			}
		}

		@media (min-width: 640px) {
			flex-direction: row;
			max-width: 700px;

			.meta {
				flex-basis: 40%;
				height: auto;
			}

			.description {
				flex-basis: 60%;

				&:before {
					transform: skewX(-3deg);
					content: "";
					background: #fff;
					width: 30px;
					position: absolute;
					left: -10px;
					top: 0;
					bottom: 0;
					z-index: -1;
				}
			}

			&.alt {
				flex-direction: row-reverse;

				.description {
					&:before {
						left: inherit;
						right: -10px;
						transform: skew(3deg);
					}
				}

				.details {
					padding-left: 25px;
				}
			}
		}
	}
}

.footer {
	width: 100%;
	background-color: $azul-fondos;
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
	grid-auto-flow: dense;

	.a {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.logos {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			P {
				font-family: $ProximaSoft;
				font-weight: bold;
				color: $blanco;
				font-size: 30px;
			}

			img {
				width: 100px;
			}
		}

		.select {
			.table_center {
				display: table-cell;
				vertical-align: middle;
			}

			.drop-down {
				display: inline-block;
				position: relative;
			}

			.drop-down__button {
				background: #fff;
				display: inline-block;
				line-height: 40px;
				padding: 0 18px;
				text-align: left;
				border-radius: 4px;
				margin: 10px;
				box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
				cursor: pointer;
				transition: $transition;
			}

			.drop-down__name {
				font-size: 9px;
				text-transform: uppercase;
				color: #333;
				font-weight: 800;
				letter-spacing: 2px;
				font-family: $ProximaSoft;
			}

			.drop-down__button:hover {
				background: #333;

				.drop-down__name {
					color: #fff;
				}
			}

			.drop-down__icon {
				width: 18px;
				vertical-align: middle;
				margin-left: 14px;
				height: 18px;
				border-radius: 50%;
				transition: all 0.4s;
				-webkit-transition: all 0.4s;
				-moz-transition: all 0.4s;
				-ms-transition: all 0.4s;
				-o-transition: all 0.4s;
			}

			.drop-down__menu-box {
				position: absolute;
				width: 100%;
				left: 0;
				background-color: #fff;
				border-radius: 4px;
				box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
				transition: all 0.3s;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-ms-transition: all 0.3s;
				-o-transition: all 0.3s;
				visibility: hidden;
				opacity: 0;
				margin-top: 5px;
			}

			.drop-down__menu {
				margin: 0;
				padding: 0 13px;
				list-style: none;
			}

			.drop-down__menu-box:after {
				content: "";
				background-color: transparent;
			}

			.drop-down__item {
				font-family: $Muli;
				font-size: 13px;
				padding: 13px 0;
				text-align: left;
				font-weight: 500;
				color: #909dc2;
				cursor: pointer;
				position: relative;
				border-bottom: 1px solid #e0e2e9;
			}

			.drop-down__item-icon {
				width: 15px;
				font-size: $Muli;
				height: 15px;
				position: absolute;
				right: 0px;
				fill: #8995b6;
			}

			.drop-down__item:last-of-type {
				border-bottom: 0;
			}

			.drop-down .drop-down__menu-box {
				margin-top: -175px;
			}

			.drop-down--active .drop-down__menu-box {
				visibility: visible;
				opacity: 1;
				margin-top: -175px;
			}

			.drop-down__item:before {
				content: "";
				position: absolute;
				width: 3px;
				height: 28px;
				background-color: #3d6def;
				left: -13px;
				top: 50%;
				transform: translateY(-50%);
				display: none;
			}

			.active:before {
				display: block;
				z-index: 5;
			}

			.active .drop-down__item-icon {
				fill: #3d6def;
			}

			.active {
				font-family: $Muli !important;
				color: #3d6def;
			}
		}
	}

	.cajita {
		color: $blanco;
		min-height: 140px;

		button {
			margin: 10px 0;
			background: $azul-claro;
			border: none;
			border-radius: 6px;
			font-family: $Muli;
			padding: 10px 20px;
			font-weight: bold;
			transition: $transition;

			&:hover {
				background: $azul-oscuro;
				color: $blanco;
			}
		}

		h3 {
			font-family: $ProximaSoft;
			font-weight: bold;
			font-size: 18px;

			&::after {
				content: "";
				width: 120px;
				margin-top: 5px;
				height: 4px;
				background-color: $azul-oscuro;
				display: flex;
				align-items: flex-end;
				justify-content: flex-end;
			}
		}

		.llll {
			display: flex;
			flex-direction: column;

			a {
				color: $blanco;
				margin: 3px 0;
				transition: $transition;
				font-size: 13px;

				&:hover {
					font-weight: bold;
					color: $azul-claro;
				}
			}
		}
	}
}

//queries
@media (max-width: 992px) {
	.three {
		.set {
			flex-direction: column;
			justify-content: space-evenly;

			.img {
				width: 70%;
				margin: 0 auto;
				max-height: 638px;

				img {
					max-height: 638px;
					box-shadow: 0px 19px 0px 5px $color-verde;
					-webkit-box-shadow: 0px 19px 0px 5px $color-verde;
					-moz-box-shadow: 0px 19px 0px 5px $color-verde;

					z-index: 1;
				}
			}

			.txt {
				width: 100%;
			}
		}
	}

	.four {
		margin: 5px 0;
		padding: 20px 10px;
		background-color: $color-verde;

		h2 {
			font-family: $ProximaSoft;
			font-weight: bold;
			font-size: 25px;
		}

		.contt {
			display: grid;
			align-items: center;
			justify-content: center;
			grid-template-columns: repeat(auto-fit,
					minmax(min(100%, 320px), 1fr));
			grid-auto-flow: dense;
			margin-top: 20px;

			.boxxss {
				display: flex;
				flex-direction: column-reverse;
				align-items: center;
				justify-content: center;
				margin: 10px 0;

				.num {
					font-family: $ProximaSoft;
					font-size: 20px;
					font-weight: bold;

					&::after {
						content: "";
						width: 30px;
						height: 2px;
						margin-left: 15px;
						background-color: #000;
						display: inline-block;
						margin-right: 10px;
					}
				}

				i {
					font-size: 60px;
				}

				img {
					width: 60px;
				}

				p {
					font-family: $ProximaSoft;
					font-size: 20px;
					color: #000;
					font-weight: bold;
					margin: 10px 0;
				}
			}
		}
	}
}

@media (max-width: 900px) {
	.one {
		.niu {
			h1 {
				font-size: 25px;
			}

			p {
				font-size: 12px;
				margin: 10px 0;
			}

			.btns {
				button {
					padding: 10px;
				}
			}
		}
	}
}

@media (max-width: 575px) {
	.three {
		.set {
			.img {
				min-width: 405px;
				width: 100%;

				img {
					width: 100%;
					min-width: 405px;
				}
			}

			.txt {
				width: 100%;
			}
		}
	}
}

//nuevo

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

.wrapper {
	width: 100%;
	height: 100vh;
	min-height: 750px;
	background: #fff;
	background-size: cover;
	position: relative;
	overflow: hidden;
	display: flex;

	@media screen and (max-width: 992px) {
		height: auto;
		min-height: 100vh;
	}
}

.content {
	height: 600px;
	margin: auto;
	width: 100%;
	max-width: 1050px;
	display: flex;
	align-items: center;
	position: relative;

	@media screen and (max-width: 1200px) {
		max-width: 920px;
	}

	@media screen and (max-width: 992px) {
		max-width: 920px;
		margin-top: 100px;
		height: auto;
		min-height: 100vh;
	}

	@media screen and (max-width: 767px) {
		margin-top: 20px;
	}

	@media screen and (max-width: 576px) {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

.bg-shape {
	height: 100%;
	background: $azul-oscuro;
	box-shadow: 0px 30px 139px 0px rgba(10, 22, 31, 0.26);
	border-radius: 30px;
	padding: 45px 40px;
	width: 50%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;

	@media screen and (max-width: 1200px) {
		width: 45%;
	}

	@media screen and (max-width: 992px) {
		width: 90%;
		height: 290px;
		align-items: flex-start;
		padding: 50px;
		left: 50%;
		transform: translateX(-50%);
	}

	@media screen and (max-width: 767px) {
		padding: 30px;
		width: 95%;
		border-radius: 20px;
	}

	@media screen and (max-width: 576px) {
		height: 200px;

		padding: 30px;
	}

	img {
		object-fit: contain;
		width: 510px;
		display: block;
		object-position: left center;
		opacity: 0.2;
		transform: rotate(-90deg) translateY(-50%);
		max-width: inherit;
		left: 10px;
		position: absolute;

		@media screen and (max-width: 1200px) {
			width: 430px;
			left: 10px;
		}

		@media screen and (max-width: 992px) {
			transform: none;
			width: 100%;
			position: relative;
			left: auto;
			margin-left: auto;
			margin-right: auto;
			object-fit: contain;
			height: 100%;
			object-position: top center;
		}
	}
}

.next,
.prev {
	z-index: 22;
	display: inline-flex;
	border: none;
	width: 61px;
	height: 61px;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	position: absolute;
	top: 50%;
	outline: none;
	cursor: pointer;

	&.disabled {
		cursor: not-allowed;
	}

	&:focus {
		outline: none;
	}

	@media screen and (max-width: 992px) {
		top: 170px;
	}
}

.prev {
	left: -30%;
	transform: translate(-100%, -50%);

	@media screen and (max-width: 1200px) {
		left: -21%;
	}

	@media screen and (max-width: 992px) {
		left: 0;
		transform: translate(-50%, -50%);
	}

	@media screen and (max-width: 576px) {
		transform: translate(20%, -50%);
	}
}

.next {
	right: 0;
	transform: translate(50%, -50%);

	@media screen and (max-width: 576px) {
		transform: translate(-20%, -50%);
	}
}

.product {
	&-slider {
		width: 75%;
		height: 85%;
		border-radius: 30px;
		box-shadow: 0 28px 79px 0 rgba(10, 22, 31, 0.35);
		position: absolute;
		top: 50%;
		right: 0;
		margin-left: 215px;
		transform: translateY(-50%);

		@media screen and (max-width: 1200px) {
			width: 80%;
		}

		@media screen and (max-width: 992px) {
			width: 80%;
			left: 50%;
			transform: translateX(-50%);
			height: auto;
			position: relative;
			top: 0;
			margin-top: 170px;
			margin-bottom: 100px;
			margin: 0;

			br {
				display: none;
			}
		}

		@media screen and (max-width: 767px) {
			border-radius: 20px;
		}

		@media screen and (max-width: 576px) {
			width: 85%;
			margin-top: 130px;
		}

		&__wrp {
			height: 100%;
		}

		&__item {
			position: relative;
			height: 100%;
			width: 100%;

			@media screen and (max-width: 992px) {
				height: auto;
			}

			&.swiper-slide-active {
				z-index: 5 !important;

				.product-slider__card {
					//opacity: 1;
					//width: 100%;
					//pointer-events: auto;
					//transition-delay: .5s;
				}

				.product-slider__content {
					>* {
						opacity: 1;
						transform: none;


						@for $i from 0 to 15 {
							&:nth-child(#{$i + 1}) {
								transition-delay: $i * 0.2s;
							}
						}
					}
				}

				circle {
					animation: progress 1s ease-out forwards;
					animation-delay: 0.5s;
					opacity: 0.75;
				}
			}
		}

		&__card {
			height: 100%;
			display: flex;
			align-items: center;
			width: 100%;
			transition: all 0.5s;
			overflow: hidden;
			position: relative;
			border-radius: 30px;

			@media screen and (max-width: 992px) {
				align-items: flex-start;
			}

			@media screen and (max-width: 767px) {
				border-radius: 20px;
			}
		}

		&__cover {
			border-radius: 30px;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;

			@media screen and (max-width: 767px) {
				border-radius: 20px;
			}
		}

		&__content {
			color: #fff;
			padding-top: 1px;
			position: relative;
			z-index: 2;
			width: 100%;
			padding-left: 250px;
			padding-right: 80px;

			@media screen and (max-width: 1200px) {
				padding-left: 220px;
			}

			@media screen and (max-width: 992px) {
				padding: 20px 60px 100px;
				padding-top: 280px;
				text-align: center;
			}

			@media screen and (max-width: 767px) {
				padding: 20px 30px 50px;
				padding-top: 300px;
			}

			@media screen and (max-width: 576px) {
				padding-top: 220px;
				padding-left: 15px;
				padding-right: 15px;
			}
		}

		&__title {
			margin: 0;
			margin-bottom: 10px;
			font-weight: 900;
			font-size: 41px;
			line-height: 1.2em;
			letter-spacing: 2px;
			opacity: 0;
			transform: translateY(55px);
			transition: all 0.5s;

			@media screen and (max-width: 1200px) {
				font-size: 34px;
			}

			@media screen and (max-width: 576px) {
				font-size: 24px;
			}
		}

		&__price {
			display: block;
			font-size: 42px;
			opacity: 0;
			transform: translateY(55px);
			transition: all 0.5s;

			@media screen and (max-width: 1200px) {
				font-size: 36px;
			}

			@media screen and (max-width: 576px) {
				font-size: 30px;
			}

			sup {
				top: -20px;
				font-size: 65%;
			}
		}

		&__cart {
			background: $azul-claro;
			border: none;
			color: #fff;
			padding: 10px 20px;
			border-radius: 50px;
			min-height: 50px;
			font-weight: 700;
			font-size: 14px;
			letter-spacing: 2px;
			margin-right: 40px;
			cursor: pointer;

			@media screen and (max-width: 768px) {
				margin-right: 30px;
			}

			@media screen and (max-width: 576px) {
				width: 100%;
				max-width: 300px;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 50px;
			}
		}

		&__fav {
			color: #888e94;
			background: none;
			border: none;
			position: relative;
			padding-left: 25px;
			outline: none;
			cursor: pointer;

			&:focus {
				outline: none;
			}

			.heart {
				display: block;
				position: absolute;
				left: 0;
				transform: translate(-50%, -50%) scale(0.7);
				top: 50%;
				pointer-events: none;
				width: 100px;
				height: 100px;
				background: url("https://res.cloudinary.com/muhammederdem/image/upload/v1536405215/starwars/heart.png") no-repeat;
				background-position: 0 0;
				cursor: pointer;
				transition: background-position 1s steps(28);
				transition-duration: 0s;

				&.is-active {
					transition-duration: 1s;
					background-position: -2800px 0;
				}
			}
		}

		&__bottom {
			transition: all 0.5s;
		}
	}

	&-ctr {
		display: flex;
		align-items: center;
		min-height: 150px;
		margin-top: 40px;
		opacity: 0;
		transform: translateY(55px);
		transition: all 0.5s;

		@media screen and (max-width: 992px) {
			justify-content: center;
		}

		.hr-vertical {
			width: 1px;
			background: #9fa3a7;
			align-self: stretch;
			margin: 0 35px;
			flex-shrink: 0;
			opacity: 0.5;
		}

		@media screen and (max-width: 767px) {
			justify-content: center;
			flex-wrap: wrap;
			margin-bottom: 40px;

			.hr-vertical {
				width: 100%;
				margin: 35px 0;
				height: 1px;
			}
		}
	}

	&-labels {
		@media screen and (max-width: 767px) {
			width: 100%;
		}

		&__checkbox {
			display: none;

			&:checked+.product-labels__txt {
				border-color: #cc3743;
				padding: 10px 13px;
			}
		}

		&__title {
			font-family: "Dosis", sans-serif;
			font-weight: 700;
			letter-spacing: 3px;
			font-size: 16px;
			margin-bottom: 10px;
		}

		&__group {
			display: flex;
			margin-bottom: 15px;

			@media screen and (max-width: 992px) {
				justify-content: center;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		&__item {
			margin: 5px;
			cursor: pointer;

			&:first-child {
				margin-left: 0;
			}
		}

		&__txt {
			display: block;
			border: 2px solid transparent;
			font-size: 14px;
			padding: 10px 20px;
			padding-left: 0;
			border-radius: 50px;
			transition: all 0.3s;
			letter-spacing: 2px;
		}
	}

	@keyframes progress {
		0% {
			stroke-dasharray: 0 100;
		}
	}

	&-inf {
		text-align: center;

		@media screen and (max-width: 767px) {
			width: 100%;
		}

		&__percent {
			font-weight: 700;
			font-size: 22px;
			letter-spacing: 1px;
			margin-bottom: 12px;
			font-family: "Dosis", sans-serif;
			position: relative;

			circle {
				transform: rotate(180deg) scaleY(-1);
				transform-origin: 50%;
			}

			&-txt {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		&__title {
			font-family: "Dosis", sans-serif;
			font-weight: 700;
			letter-spacing: 2px;
			font-size: 18px;
		}
	}

	&-img {
		position: absolute;
		z-index: 2;
		width: 500px;
		left: 25%;
		transform: translateX(-45%);
		max-height: 500px;
		height: 100%;
		pointer-events: none;

		@media screen and (max-width: 1200px) {
			width: 430px;
			left: 20%;
		}

		@media screen and (max-width: 992px) {
			width: 430px;
			left: 50%;
			transform: translateX(-50%);
			top: 0;
			height: 350px;
		}

		@media screen and (max-width: 767px) {
			width: 100%;
			max-width: 400px;
			top: 30px;
			height: 390px;
		}

		@media screen and (max-width: 576px) {
			max-width: 300px;
			height: 300px;
		}

		&__item {
			display: flex;
			align-items: center;
			position: absolute;
			pointer-events: none;
			user-select: none;
			top: 50%;
			right: 0;
			transform: translateY(-50%) translateX(-130px);
			opacity: 0;
			transition: all 0.3s;

			&.active {
				opacity: 1;
				transform: translateY(-50%) translateX(0);
				transition-delay: 0.3s;
				z-index: 5;
			}

			img {
				object-fit: contain;
				object-position: center right;
			}
		}
	}
}

.social {
	position: absolute;
	bottom: 10px;
	right: 0;
	width: 100%;
	display: flex;
	padding: 20px 55px;
	justify-content: space-between;

	@media screen and (max-width: 576px) {
		flex-direction: column;
		bottom: 0;
	}

	&__item {
		color: rgba(255, 255, 255, 0.75);
		font-family: "Dosis", sans-serif;
		font-weight: 700;
		letter-spacing: 2px;
		line-height: 1em;
		display: flex;
		align-items: center;
		transition: all 0.3s;

		&:hover {
			color: #fff;
		}

		@media screen and (max-width: 576px) {
			margin-bottom: 10px;
		}
	}

	&__img {
		width: 24px;
		margin-right: 15px;
	}
}

.swiper-button-disabled,
.prev,
.next {
	box-shadow: 0px 0px 25px 1px #555;
}



.salidoooo {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba($color: #000000, $alpha: 0.5);
	width: 100%;
	height: 100vh;
	z-index: 99999;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;


	.box {
		width: 50%;
		height: 80vh;
		max-height: 81vh;
		min-width: 320px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		background: #fff;

		font-family: $Muli;
		border-radius: 6px;
		overflow: auto;

		.close {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			padding: 5px 20px;

			span {
				background: red;
				color: #fff;
				padding: 10px;
				border-radius: 100%;
				width: 25px;
				height: 25px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}

		.tit {
			font-family: $ProximaSoft;
		}

		.vid {
			display: flex;
			flex-direction: column;

			video {
				width: 200px
			}

			button {
				background: #30c9eb;
				color: #fff;
				outline: none;
				padding: 10px;
				border: none;
			}
		}

	}
}

.desapareciooo {
	display: none !important;
}